form .avatar{
    margin-bottom: 15px;    
    width: 75px;    
}
.pub_image{
    margin-bottom: 25px;
}
.navbar .container-avatar,
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;    
    overflow: hidden; /* para que oculte lo q sobresale del circulo */
    margin-left: 20px;
}
.navbar  .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
}
.pub_image .container-avatar{
    float: left;
    margin-right: 15px;    
}
.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}
.pub_image .data-user a{
    color: #444;
}
.pub_image .nickname{
    color: gray;
}
.pub_image_detail .comments{
    padding: 20px;
}

.image-container{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}
.image-container img{
    width: 100%;
}
.image-container-detail{
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.image-container-detail img{
    width: 100%;
}
.pub_image .card-body{
    padding: 0px;
}
.pub_image .description{
    padding: 20px;
    padding-bottom: 0px;
}
.pub_image .btn-comments{
    margin: 20px;
    margin-top:0px;
    margin-left:0px;
}
.likes{
    float:left;
    padding-left:20px;
    padding-right: 10px;
}
.likes img{
    width: 20px;
}
.number-likes{
    color: gray;
    font-size: 11px;
}

/* PROFILE */
.profile-user{
    height: 200px;
    margin-bottom: 40px;
}
.profile-user .container-avatar{
    width: 200px;
    height: 200px;
    border-radius: 900px;
    overflow: hidden;
    /* si no se limpian los flotados este float:left arrastra todo lo que hay debajo hacia la derecha */
    float: left;
}
.profile-user .container-avatar img{
    /* si la imagen no es lo suficientemente alta aparece sesgada por eso hay q ponerle height */
    height: 100%;
}
.profile-user .user-info{
    float: left;
    margin-left: 30px;
    padding-top: 20px;
}

.btn-search{    
    margin-left: 0px;
    padding-left: 0px;
}